[submodule "SELib"]
	path = SELib
	url = https://github.com/cutecatsandvirtualmachines/SELib.git
[submodule "SharedCheatLibrary"]
	path = SharedCheatLibrary
	url = https://github.com/cutecatsandvirtualmachines/SharedCheatLibrary.git
[submodule "SKLib"]
	path = SKLib
	url = https://github.com/cutecatsandvirtualmachines/SKLib.git
