[submodule "SELib"]
	path = SELib
	url = https://github.com/BomboBombone/SELib
[submodule "SharedCheatLibrary"]
	path = SharedCheatLibrary
	url = http://git.dev-server.warwick.internal/TheItalian/SharedCheatLibrary.git
[submodule "SKLib"]
	path = SKLib
	url = http://git.dev-server.warwick.internal/CheatKernel/SKLib.git
